.lead-form .ant-form-item-label > label,
.lead-form .ant-form-item > label {
  font-weight: bold;
}

.lead-form{
    padding-top: 0px;
}

.lead-form .ant-form-item-label {
  text-align: left;
}

.lead-form-modal .ant-modal {
  max-width: none;   /* remove the cap */
  width: 1000px;     /* fixed width */
}

