.h2 {
  margin-bottom: 16px;
}

.customer-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.customer-list-header h2 {
  margin: 0;
}

.customer-list-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Highlight the whole row when selected */
.ant-table-row-selected > td {
  background-color: #cce6ff !important; /* light blue */
}

.customer-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.customer-list-right {
  display: flex;
  align-items: center;
  gap: 16px; /* space between title and searchbar */
}

.customer-list-search {
  width: 300px; /* adjust length of search bar */
}
