.product-page {
  padding: 20px;
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-search {
  width: 200px;
}

.product-input-number {
  width: 120px;
}

.product-edit-icon{
  font-size: 20px;
}
