/* .ant-table-pagination {
  display: flex;
  justify-content: center;
} */
/* Highlight selected row */
.ant-table-row.selected-row > td {
  background-color: #bae0ff !important; /* blue like your screenshot */
} 

.customer-edit-icon{
  font-size: 20px;
}